.card_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(#1f497d00, #1f497d);
  padding: 24px 0px;
}
.card {
  width: 300px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  margin: 4px;
  background-color: #fff;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.418);
}
.card img {
  width: 100%;
  display: none;
  justify-content: flex-start;
  border-radius: 4px 4px 0 0;
}

.container {
  text-align: center;
}
.container h2 {
  padding: 6px;
  font-weight: 900;
  letter-spacing: 1px;
}
.container p {
  color: #939598;
  padding-bottom: 12px;
}

.card:hover {
  cursor: pointer;
}
.container p:hover {
  color: #414042;
}

.container p:active {
  color: #e03063;
}
.learnMoreClosed {
  height: 0px;
  transition: 0.5s all ease;
  background-image: radial-gradient(#fff, #f1f2f2);
}
.learnMoreOpened {
  display: flex;
  height: 250px;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(#fff, #f1f2f2);
  transition: 0.5s all ease;
  overflow: scroll;
}
.learnMoreOpened h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f497d;
  width: 80%;
  line-height: 48px;
  margin-top: 12px;
}
.learnMoreOpened p {
  font-size: 18px;
  color: #414042;
  width: 80%;
  line-height: 32px;
  margin: 20px 24px;
}

.card img:hover {
  width: 102%;
  transition: 0.2s ease-in;
}

.active {
  background-color: #1f497d;
}
.active h2 {
  color: #fff;
}
.active p {
  color: #28aee4;
}
.active p:hover {
  color: #28aee4;
}

.arrow {
  display: none;
}

@media (min-width: 769px) {
  .card {
    width: 200px;
    margin: 20px;
    padding: 0px;
  }

  .card img {
    display: flex;
    /* width: 200px; */
    height: 200px;
  }
  .container h2 {
    padding: 12px;
  }
  .container p {
    padding-bottom: 36px;
  }
  .arrow {
    position: absolute;
    display: flex;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    bottom: 0;
    padding-bottom: 12px;
  }
}

@media (max-width: 616px) {
  div[class^='learnMore'] {
    display: none;
  }
  div[class^='card-content-text'] {
    line-height: 1.3;
    transition: opacity 300ms ease-in 50ms, height 100ms ease-in;
    overflow: hidden;
  }
  .card-content-text {
    height: 0;
    opacity: 0;
    padding: 0;
  }
  .card-content-text-active {
    height: auto;
    opacity: 1;
    padding: 16px;
  }
  .card-content-text-active p {
    color: #f2f2f2;
    font-weight: 200;
  }
}