.ham {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.ham:focus {
  outline: none;
}

.ham_line {
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: white;
}

.toolbar {
  height: 100%;
  width: 64%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  max-width: 300px;
  z-index: 200;
  transform: translateX(110%);
  transition: transform 0.35s ease-out;
  text-align: center;
}

.toolbar_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.toolbar.open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.toolbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.toolbar li {
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 16px;
  border: 1px solid #1f497d;
  letter-spacing: 1px;
}

.toolbar li:hover,
.toolbar li:active {
  color: #df3063;
  background-color: #1f497d;
}
.toolbar_item {
  color: #1f497d;
  text-decoration: none;
}

.call_toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 8px;
  margin-bottom: 52px;
}
.phone_icon {
  width: 8%;
}

#toolbar_button {
  width: initial;
  padding: 20px 36px;
}
@media (min-width: 769px) {
  .ham {
    display: none;
  }
}